<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Shopping Assistant</title>
</head>

<body>
    <header>
        <form action="/" class="title">
            <a href="/"><h1>Voice Assisted e-commerce shopping</h1></a>
        </form>
        <form action="/working" class="working">
            
            <input type="submit" value="How it works" class="button">
        </form>
    </header>

    {% block body %}{% endblock %}

    <footer>
        <a href="https://github.com/keert04/-FLASK-Voice-assisted-e-commerce-shopping" target="_blank">Github</a>
    </footer>

</body>
</html>